body {
    font-family: Roboto;
    background: #8e0e0d;
    background: -webkit-linear-gradient(to left, #8e0e0d, #1f1c18);
}

#container {
    height: 525px;
    width: 360px;
    margin: 100px auto;
    background: #f7f7f7;
    box-shadow:0 0 3px RGB(0, 0, 0.1);
    border-radius: 20px;
    -webkit-border-radius:20px;
    -moz-border-radius:20px;
}

h1 {
    background: #1f030c;
    color: white;
}